.card-broadcast {
  display: flex;
  margin-bottom: 151px;
  filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.05));
  background: #fff;
  border-radius: 224px 0 0 0;

  @include media-breakpoint-down(lg) {
    border-radius: 10px 100px 10px 100px;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    margin-bottom: 60px;
    border-radius: 10px 100px 10px 10px;
  }

  .btn {
    border-radius: 5px;
  }

  &__img {
    margin-right: 30px;
    max-width: 665px;
    width: 50%;
    position: relative;

    @include media-breakpoint-down(md) {
      min-height: 100%;
      display: flex;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 25.5px;
      left: 20px;
      width: 123px;
      height: 62px;
      background: url('../img/tr-big-art.svg') no-repeat;
      background-size: contain;
    }

    @include media-breakpoint-down(md) {
      &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 75px;
        background: url('../img/tr-big-art-2.svg') no-repeat;
        background-size: contain;
        top: 0;
        left: 0;
      }
      &::after {
        width: 76px;
        height: 98px;
        right: 0;
        left: auto;
        bottom: 0;
        background: url('../img/tr-big-art-3.svg') no-repeat;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 224px 10px;
      object-position: center;
      object-fit: cover;

      @include media-breakpoint-down(lg) {
        border-radius: 10px 100px 10px 100px;
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 33px;
      margin-right: 0;
      max-width: 100%;
      width: 100%;
      border-radius: 10px 100px 10px 10px;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 20px;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }

  &__info {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__date {
    span {
      font-weight: 600;
    }

    p {
      margin-top: 7px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    .btn-play {
      background: $blue;
      color: #fff;
      padding: 11px 16px;

      &::before {
        width: 24px;
        height: 24px;
        background-image: url("../img/play-white.svg");
      }

      &:hover {
        background: $red;
      }

      @include media-breakpoint-down(xl) {
        padding: 8px 15px;
      }
    }

    .white-btn {
      margin-right: 24px;

      &:hover {
        border-color: $red;
      }
    }

    @media (max-width: 479.98px) {
      flex-direction: column;
      align-items: flex-start;
      .white-btn {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 18px;
    margin-bottom: 40px;
    @media (max-width: 479.98px) {
      font-size: 16px;
    }
  }
}

.author {
  &__avatar {
    display: flex;

    img {
      width: 70px;
      height: 70px;
      margin-right: 20px;
      border-radius: 100%;
      object-fit: cover;
      object-position: center;
      border: 1px solid #FCAF17;
    }
  }

  &__name {
    &-name {
      margin-top: 4px;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 24px;
      color: $blue;
    }
  }
}

@media (max-width: 479.98px) {
  .author {
    &__avatar {
      margin-bottom: 20px;
    }

    &__name {
      span {
        font-size: 14px;
        line-height: 140%;
      }

      &-name {
        font-size: 16px;
        line-height: 130%;
        margin-top: 14px;
        font-weight: 500;
      }
    }
  }
}