.broadcast {
    background: linear-gradient(0deg, #f7f7f7 1205px, #ffffff 1205px);
    
    @include media-breakpoint-down(md) {
        background: #fff;
    }
    .card-podcast {
        border-radius: 0;
    }
    &-btn {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
            margin-bottom: 100px;
        }
         @include media-breakpoint-down(sm) { 
            .justify-content-end {
                justify-content: flex-start!important;
            }
        }
    }
    &-slider {
        .card-transfers__text {
            display: none;
        }
        .card-transfers__title {
            font-weight: 600;
        }
    }
}



