.broadcast {
    background: linear-gradient(0deg, #f7f7f7 915px, #ffffff 0);

    &-post {
        background: linear-gradient(0deg, #f7f7f7 1015px, #ffffff 0);
    }
    
    @include media-breakpoint-down(md) {
        background: #fff;
    }

    &-btn {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
            margin-bottom: 100px;
        }
         @include media-breakpoint-down(sm) { 
            .justify-content-end {
                justify-content: flex-start!important;
            }
        }
    }
    &-slider {
        .card-transfers__text {
            display: none;
        }
        .card-transfers__title {
            font-weight: 600;
        }
    }
}



