.broadcast {
    background: linear-gradient(0deg, #f7f7f7 1205px, #ffffff 1205px);
    
    @include media-breakpoint-down(md) {
        background: #fff;
    }
    .card-podcast {
        border-radius: 0;
    }
    &-btn {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
            margin-bottom: 100px;
        }
         @include media-breakpoint-down(sm) { 
            .justify-content-end {
                justify-content: flex-start!important;
            }
        }
    }
    &-slider {
        .card-transfers__text {
            display: none;
        }
        .card-transfers__title {
            font-weight: 600;
        }
    }
}
.card-broadcast {
    display: flex;
    margin-bottom: 151px;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        margin-bottom: 60px;
    }
    .btn {
        border-radius: 5px;
    }
    &__img {
        margin-right: 30px;
        max-width: 665px;
        width: 50%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 25.5px;
            left: 20px;
            width: 123px;
            height: 62px;
            background: url('../img/tr-big-art.svg') no-repeat;
            background-size: contain;
        }
        @include media-breakpoint-down(md) {
            &::before {
                content: "";
                position: absolute;
                width: 50px;
                height: 75px;
                background: url('../img/tr-big-art-2.svg') no-repeat;
                background-size: contain;
                top: 0;
                left: 0;
            }
            &::after {
                width: 76px;
                height: 98px;
                right: 0;
                left: auto;
                bottom: 0;
                background: url('../img/tr-big-art-3.svg') no-repeat;
            }
        }
        img {
            width: 100%;
            border-radius: 224px 0px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 33px;
            margin-right: 0;
            max-width: 100%;
            width: 100%;
            img {
                border-radius: 0 100px;
            }
        }
        @media (max-width: 479.98px) {
            max-width: inherit;
            margin-left: -30px;
            margin-right: -30px;
            width: calc(100% + 60px);
        }
    }
    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    &__info {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }
    &__date {
        span {
            font-weight: 600;
        }
        p {
            margin-top: 7px;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        .btn-play {
            background: $blue;
            color: #fff;
            padding: 11px 16px;
            &::before {
                width: 24px;
                height: 24px;
                background-image: url("../img/play-white.svg");
            }
            &:hover {
                background: $red;
            }
            @include media-breakpoint-down(xl) {
                padding: 8px 15px;
            }
        }
        .white-btn {
            margin-right: 24px; 
        }
        @media (max-width: 479.98px) {
            flex-direction: column;
            align-items: flex-start;
            .white-btn {
                margin-bottom: 20px;
            }
        }
    }
    &__text {
        font-size: 18px;
        margin-bottom: 40px;
        @media (max-width: 479.98px) {
            font-size: 16px;
        }
    }
}