@font-face {
  font-family: 'Commissioner';
  src: url('../../fonts/Commissioner/Commissioner-Medium.eot');
  src: local('Commissioner Medium'), local('Commissioner-Medium'),
  url('../../fonts/Commissioner/Commissioner-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Commissioner/Commissioner-Medium.woff2') format('woff2'),
  url('../../fonts/Commissioner/Commissioner-Medium.woff') format('woff'),
  url('../../fonts/Commissioner/Commissioner-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../../fonts/Commissioner/Commissioner-Regular.eot');
  src: local('Commissioner Regular'), local('Commissioner-Regular'),
  url('../../fonts/Commissioner/Commissioner-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Commissioner/Commissioner-Regular.woff2') format('woff2'),
  url('../../fonts/Commissioner/Commissioner-Regular.woff') format('woff'),
  url('../../fonts/Commissioner/Commissioner-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


